<% provide(:title, "質問追加") %>
<% provide(:button_text, '登録') %>
<h1 class="text-center">質問追加</h1>
<% if @problem.question_style == 2 %>
  <%= form_for(@question, url:problem_questions_path(@problem)) do |f| %>
    <%= render 'question_form' %>
  <% end %>
<% else %>
  <%= form_for(@question, url:problem_questions_path(@problem)) do |f| %>
    <%= render 'question_choice_form' %>
  <% end %>
<% end %>
<script>
  $(".choice").click(function(){
    $('.choice:checked').prop('checked', false);
    $(this).prop('checked', true);
  });
</script>
