<% provide(:title, "質問作成") %>
<% provide(:button_text, '作成') %>
<div class="mt-3 mb-5">
  <h1 class="text-center">質問作成</h1>
  <% if @question_style == "2" %>
    <%= nested_form_for(@problem) do |f| %>
      <%= render 'question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@problem) do |f| %>
      <%= render 'question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
