// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site_title_layout{
  background-image: url(eigo.jpg);
  height:500px;
}

.site_title{
  margin-top:100px;
  font-weight:bold;
  padding-bottom:50px;
}

.site_heading{
  background-color: #DCDCDC;
}

.shiny-btn1{
  animation: shiny-btn1 3s ease-in-out infinite;
}

@-webkit-keyframes shiny-btn1 {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% {  opacity: 1; }
}
