<p><%= @resource.name %>様</p>
<p>英単語学習アプリのご利用ありがとうございます。

<p>パスワードを変更するためには、下記のリンクを押してください.</p>

<p><%= link_to 'パスワード変更', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードを変更しない場合は、このメールは無視してください.</p>
<p>上記のリンクを押し、パスワードを変更するまで、パスワードは変更されません.</p>
